* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #333;
    color: #fff;
    padding: 12px 12px;
    position: fixed;
    top: 0;
    width: 100%;
}

header > nav > ul {
    display: flex;
    list-style: none;
}

header > nav > ul > li {
    margin: 0 12px;
}

header > nav > ul > li > a {
    color: #fff;
    text-decoration: none;
}

main > section {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
    padding-top: 60px;
}

main > section > div {
    width: 500px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}