* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #333;
    color: #fff;
    padding: 12px 12px;
    position: fixed;
    top: 0;
    width: 100%;
}

header > nav > ul {
    display: flex;
    list-style: none;
}

header > nav > ul > li {
    margin: 0 12px;
}

header > nav > ul > li > a {
    color: #fff;
    text-decoration: none;
}

main > section {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
    padding-top: 60px;
}

main > section > div {
    width: 500px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    gap: 16px;
}

main > section > div > img {
    border-radius: 16px;
}

h1 {
    font-size: 3rem;
}

main > section > div > a {
    background-color: #007dff;
    text-decoration: none;
    color: #fff;
    padding: 16px 64px;
    border-radius: 12px;
}